html, body {
    resize: none;
    overflow: hidden;
}

body {
    overflow-y: hidden;
}


#DOT {
    background-color: blue;
    border: none;
    font-size: 10px;
    font-weight: bold;
    width: 100vw;
    height: 25vw;
}
#LINE {
    background-color: red;
    border: none;
    font-size: 10px;
    font-weight: bold;
    width: 100vw;
    height: 25vw;
}
#SPACE {
    background-color: green;
    border: none;
    font-size: 10px;
    font-weight: bold;
    width: 100vw;
    height: 25vw;
}
#DONE {
    background-color: yellow;
    border: none;
    font-size: 10px;
    font-weight: bold;
    width: 100vw;
    height: 25vw;
}
#DOT:hover{
    background-color: darkblue;
}
#NEXT {
    background-color: black;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
    width: 100vw;
    height: 25vw;
}
#NEXT:hover{
    background-color: gray;
}
#LINE:hover{
    background-color: darkred;
}
#SPACE:hover{
    background-color: darkgreen;
}
#DONE:hover{
    background-color: yellowgreen;
}
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 30;
    right: 50;
}

h2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 30;
    right: 50;
}
